<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SO Dashboard</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
  <!-- our css -->
 <link rel="stylesheet" href="css/sodashboard.css">
</head>
<body>
  <div id="app">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a v-on:click="mode='startup'" class="navbar-brand" href="#">SO Dashboard</a>
          <div id="syncStatus">
            <span v-if="syncInProgress">
              <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            </span>
            <span v-if="syncError">
              <span class="glyphicon glyphicon-error" aria-hidden="true"></span>
            </span>
            <span v-if="syncComplete">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
            </span>
            <span class="badge" v-if="numDocs">{{ numDocs }}</span>
          </div> <!--syncStatus -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a v-on:click="myTickets" href="#">Mine</a></li>
            <li><a v-on:click="unAssignedTickets" href="#">Unassigned</a></li>
          </ul>
          <form v-on:submit.prevent="doSearch" class="navbar-form navbar-left">
            <div class="form-group">
              <input v-model="search" type="text" class="form-control" placeholder="Search for stuff!">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>          
              <div id="loggedinuser" v-if="loggedinuser">
                <a v-on:click="profileEditor" href="#profile">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span>{{ loggedinuser.user_name }}</span>
                </a>
              </div>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>




    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div v-if="mode==='startup'" class="jumbotron">
      <div class="container">
        <h1>Welcome to the Stack Overflow dashboard</h1>
        <p></p>
        <p><!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>--></p>
      </div>
    </div>

    <div v-if="mode==='startup'" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>My Tickets</h2>
          <p>See a list of tickets assigned to you that don't yet have an answer.</p>
          <p><a v-on:click="myTickets" class="btn btn-default" href="#" role="button">My Tickets &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Unassigned tickets</h2>
          <p>If you are on Stack Overflow triage duty, then this is where you can find the tickets that need a home.</p>
          <p><a v-on:click="unAssignedTickets" class="btn btn-default" href="#" role="button">Unassigned tickets &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2017 IBM Watson Data Platform</p>
      </footer>
    </div> <!-- /container -->

    <!-- list of documents -->
    <div v-if="mode==='unassigned' || mode === 'mytickets' || mode === 'search'" class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ mode }} tickets <span class="badge" v-if="numDocs">{{ docs.length }}</span></h2>
        </div>
      </div>

      <!-- loop through documents -->
      <div class="row datarow" v-for="doc in sortedDocs">
        <div class="col-xs-10 col-md-5">
               <span class="question-title"><a :href="doc.question.link" target="_new">{{ doc.question.title}}</a></span> <br />
              <a class="owner" :href="doc.question.owner.link" target="_new">{{ doc.question.owner.display_name }} ({{ doc.question.owner.reputation }})</a>
        </div>
        <div class="col-xs-2 col-md-1">
          <span class="badge">{{ doc.question.answer_count }}</span>
          <span v-if="doc.answered" class="badge answered"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
          <span v-if="doc.rejected" class="badge rejected"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
        </div>
        <div class="col-xs-12 col-md-4">
              <span v-for="tag in doc.question.tags">
                <span class="label label-default tag">{{ tag }}</span>
                <span class="spacerbreaker"> </span>
              </span>
              <span v-for="ctag in doc.custom_tags">
                <span class="ctag">{{ ctag }}</span>
                <span class="spacerbreaker"> </span>
              </span>
        </div>
        <div class="col-xs-12 col-md-2">
          <button v-on:click="edit(doc._id)" class="btn btn-default">Edit</button>
        </div>
      </div><!-- end loop through documents -->

    </div> <!--- end list of documents container -->

    <!-- single document edit -->
    <div v-if="mode==='edit' && doc" class="container">
      <h2>Edit Question</h2>
      <div class="panel panel-default">
        <div class="panel-heading">Stack Overflow data</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-2">ID:</div>
            <div class="col-xs-10">{{doc._id}}</div>
          </div>
          <div class="row">
            <div class="col-xs-2">Title:</div>
            <div class="col-xs-10"><a :href="doc.question.link" target="_new">{{ doc.question.title}}</a></div>
          </div>
          <div class="row">
            <div class="col-xs-2">Creator:</div>
            <div class="col-xs-10"><a class="owner" :href="doc.question.owner.link" target="_new">{{ doc.question.owner.display_name }} ({{ doc.question.owner.reputation }})</a></div>
          </div>
          <div class="row">
            <div class="col-xs-2">Tags:</div>
            <div class="col-xs-10">
              <span v-for="tag in doc.question.tags">
                <span class="label label-default tag">{{ tag }}</span>
                <span class="spacerbreaker"> </span>
              </span>
            </div>
          </div>
          </div>
      </div><!--end Stack Overflow data panel-->
      <div class="panel panel-default">
        <div class="panel-heading">Custom Tags</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div v-show="!customtagsedit">
                <span v-for="ctag in doc.custom_tags" class="ctag">{{ ctag }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <input v-model="doc.custom_tags" type="string" class="form-control" id="custom_tags" placeholder="Enter tags separated by a comma (e.g., cloudant, envoy, etc)?" v-show="customtagsedit">
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" v-on:click="editcustomtags(doc._id)">{{ customtagsedit ? 'Save' : 'Edit' }}</button>
            </div>
          </div>
        </div>
      </div><!--end custom tags panel-->

      <div class="panel panel-default">
        <div class="panel-heading">Change Status</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2 col-xs-12">
              <h4>Ownership</h4>
            </div>
            <div class="col-md-10 col-xs-10">
              <select v-model="doc.owner" v-bind:disabled="doc.answered || doc.rejected">
                <option value="">----</option>
                <option v-for="(user, i) in userlist" :value="i">{{ user }}</option>
              </select>
              <button  v-if="!doc.answered && !doc.rejected" class="btn btn-default" v-on:click="assign(doc._id)">Assign</button>
            </div>
          </div>
          <div v-if="doc.rejected || !doc.answered">
            <div class="row"><div class="col-md-12"><hr></div></div>
            <div class="row">
              <div class="col-md-2 col-xs-12">
                <h4>Rejected</h4>
              </div>
              <div class="col-md-8 form-group">
                <!--<label for="rejection_reason">Reason</label>-->
                <input v-model="doc.rejection_reason" type="string" class="form-control" id="rejection_reason" placeholder="Why was this question rejected?" v-bind:disabled="doc.answered || doc.rejected">
              </div>
              <div class="col-md-2">
                <button v-if="!doc.answered && !doc.rejected" class="btn btn-danger" v-on:click="reject(doc._id)">Reject</button>
              </div>
            </div>
          </div><!--end reject-->
          <div v-if="doc.answered || !doc.rejected">
            <div class="row"><div class="col-md-12"><hr></div></div>
            <div class="row">
              <div class="col-md-2 col-xs-12">
                <h4>Answered</h4>
              </div>
              <div class="col-md-8 form-group">
                <!--<label for="time_to_fix">Time to Fix</label>-->
                <input v-model="doc.time_to_fix" type="number" class="form-control" id="time_to_fix" placeholder="time (in minutes) it took to fix" v-bind:disabled="doc.answered || doc.rejected">
              </div>
              <div class="col-md-2">
                <button v-if="!doc.answered && !doc.rejected"class="btn btn-success" v-on:click="answered(doc._id)">Answer</button>
              </div>
            </div>
          </div><!--end answer-->
        </div>  
      </div><!--end change status panel-->

      <div class="panel panel-default">
        <div class="panel-heading">Notes</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-condensed">
                <tr v-if="doc.notes">
                  <th colspan="6">what</th>
                  <th>who</th>
                  <th>when</th>
                </tr>
                <tr v-for="note in doc.notes">
                  <td colspan="6">{{ note.note }}</td>
                  <td>{{ note.who }}</td>
                  <td>{{ note.time }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <h4>New Note</h4>
            </div>
            <form v-on:submit.prevent="addNote">
              <div class="col-md-8 form-group">
                <!--<label for="note"><h4>New Note</h4></label>-->
                <input v-model="notetxt" type="text" class="form-control" id="note" placeholder="note text">
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-default">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div><!--end notes panel-->

    </div> <!-- end single document edit -->

    <!-- profile editor -->
    <div v-if="mode==='profile'" class="container">
      <div class="alert alert-info">
        <h2>Profile</h2>
        <div class="form-group">
          <label for="slackid">Slack ID</label>
          <input v-model="profile.user_id" type="string" class="form-control" id="slackid" readonly >
        </div>
        <div class="form-group">
          <label for="slackname">Slack name</label>
          <input v-model="profile.user_name" type="string" class="form-control" id="slackname" readonly >
        </div>
        <div class="form-group">
          <label for="soid">Stack Overflow ID</label>
          <input v-model="profile.so_id" type="string" class="form-control" id="soid">
          <p class="help-block">We need to know your Stack Overflow identity too. Enter the number that appears in 
            your Stack Overflow profile URL so we can tell whether you have answered a question.
          </p>
        </div>
        <button v-on:click="saveProfile" class="btn btn-default">Submit</button>
      </div> <!-- alert -->

      <hr />

      <div class="alert alert-danger">
        <h2>Logout</h2>
        <div><b>Warning!</b> This will destroy your local copy of the Stack Overflow tickets and you
             will have to log in again via Slack
        </div>
        <button v-on:click="logout" class="btn btn-danger">Logout</button>
      </div> <!-- alert -->
    </div> <!-- container -->

  </div> <!-- app -->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- PouchDB -->
  <script src="https://cdn.jsdelivr.net/pouchdb/6.1.2/pouchdb.min.js"></script>

  <!-- PouchDB quick search plugin -->
  <script src="/js/pouchdb.quick-search.min.js"></script>

  <!-- Bootstrap notify plugin -->
  <script src="/js/bootstrap-notify.min.js"></script>

  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@2.2.6"></script>

  <!-- Our JS -->
  <script src="js/sodashboard.js"></script>

</body>
</html>
