<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SO Dashboard</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- our css -->
    <link rel="stylesheet" href="css/sodashboard.css">
</head>

<body>
    <div id="app" v-cloak>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a v-on:click="mode='unassigned'" class="navbar-brand" href="#unassigned">SO Dashboard</a>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a v-on:click="allTickets" href="#alltickets">All</a></li>
                        <li><a v-on:click="myTickets" href="#mytickets">Mine</a></li>
                        <li><a v-on:click="unAssignedTickets" href="#unassigned">Unassigned</a></li>
                    </ul>
                    <form v-on:submit.prevent="doSearch" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input v-model="search" type="text" class="form-control" placeholder="Search for stuff!">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                        <!--syncStatus -->
                            <div id="syncStatus">
                            <span v-if="syncInProgress">
                            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                            </span>
                            <span v-if="syncError" class="syncerror">
                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                            </span>
                            <span v-if="syncComplete">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </span>
                            <span class="badge" v-if="numDocs">{{ numDocs }}</span>
                            </div>
                    
                        </li>
                        <li>
                            <div id="loggedinuser" v-if="loggedinuser">
                                <a v-on:click="profileEditor" href="#profile">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span>{{ loggedinuser.user_name }}</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- list of documents -->
        <div v-if="mode==='unassigned' || mode === 'mytickets' || mode === 'all' || mode === 'search'" class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2>{{ mode }} tickets <span class="badge" v-if="numDocs">{{ docs.length }}</span></h2>
                    <!-- Symbol Key -->
                    <div id="symbolkey">
                        <p>
                            <span title="already answered!" class="badge answered"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span></span> Answered   
                            <span class="badge rejected"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></span> Rejected 
                            <span class="label label-default tag">SO Tag</span> 
                            <span class="ctag">Custom Tag</span> 
                        </p>
                    </div>

                </div>
                <div class="col-md-2">
                    <h2>
                        <button v-if="mode==='unassigned' || mode==='mytickets' || mode==='all'" v-on:click="showNotes=!showNotes" class="btn btn-primary align-bottom">{{ showNotes ? 'Hide Notes' : 'Show Notes' }}</button>
                    </h2>
                </div>
            </div>

            <!-- loop through documents -->
            <div class="row datarow" v-for="doc in sortedDocs">
                <div class="col-xs-10 col-md-5">
                    <span class="question-title">
                      <a :href="doc.question.link" target="_new" v-html="doc.question.title"></a>
                    </span> <br />
                    <a class="owner" :href="doc.question.owner.link" target="_new" title="question owner and reputation">{{ doc.question.owner.display_name }} ({{ doc.question.owner.reputation }})</a>
                </div>
                <div class="col-xs-2 col-md-1">
                    <span class="badge" title="answers">{{ doc.question.answer_count }} {{ doc.question.answer_count === 1 ? 'Answer' : 'Answers' }}</span>
                    <span v-if="doc.answered" class="badge answered" title="already answered!"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
                    <span v-if="doc.rejected" class="badge rejected"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
                </div>
                <div class="col-xs-12 col-md-4">
                    <span v-for="tag in doc.question.tags">
                <span class="label label-default tag">{{ tag }}</span>
                    <span class="spacerbreaker"> </span>
                    </span>
                    <span v-for="ctag in doc.custom_tags">
                <span class="ctag">{{ ctag }}</span>
                    <span class="spacerbreaker"> </span>
                    </span>
                </div>
                <div class="col-xs-12 col-md-2">
                    <button v-on:click="edit(doc._id)" class="btn btn-default">Edit</button>
                </div>
                <div v-if="showNotes && doc.notes && doc.notes.length > 0" class="col-md-12 text-muted">
                    <div class="panel panel-default">
                        <div class="panel-heading">Notes</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-condensed">
                                        <tr v-if="doc.notes">
                                            <th colspan="6">what</th>
                                            <th>who</th>
                                            <th>when</th>
                                        </tr>
                                        <tr v-for="note in doc.notes">
                                            <td colspan="6">{{ note.note }}</td>
                                            <td>{{ note.who }}</td>
                                            <td>{{ new Date(note.time).toLocaleString(undefined, dateDisplayOpts) }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end notes panel-->
                </div>
            </div>
            <!-- end loop through documents -->

        </div>
        <!--- end list of documents container -->

        <!-- single document edit -->
        <div v-if="mode==='edit' && doc" class="container">
            <h2>Edit Question</h2>
            <div class="panel panel-default">
                <div class="panel-heading">Stack Overflow data</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">ID:</div>
                        <div class="col-xs-10">{{doc._id}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Title:</div>
                        <div class="col-xs-10">
                            <a :href="doc.question.link" target="_new" v-html="doc.question.title"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Creator:</div>
                        <div class="col-xs-10"><a class="owner" :href="doc.question.owner.link" target="_new">{{ doc.question.owner.display_name }} ({{ doc.question.owner.reputation }})</a></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Tags:</div>
                        <div class="col-xs-10">
                            <span v-for="tag in doc.question.tags">
                <span class="label label-default tag">{{ tag }}</span>
                            <span class="spacerbreaker"> </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end Stack Overflow data panel-->
            <div class="panel panel-default">
                <div class="panel-heading">Custom Tags</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="custom-tags">
                                <li v-for="ctag in doc.custom_tags">
                                    <span>{{ ctag }}</span>
                                    <span class="glyphicon glyphicon-remove" aria-role="button" v-on:click="removecustomtag(doc._id, ctag)" v-on:keyup.enter="removecustomtag(doc._id, ctag)" tabindex="0" title="Remove tag"></span>
                                </li>
                                <li>
                                    <tags-typeahead v-bind:refid="doc._id" v-bind:reftags="alltags"></tags-typeahead>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end custom tags panel-->

            <div class="panel panel-default">
                <div class="panel-heading">Change Status</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <h4>Ownership</h4>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <select v-model="doc.owner" v-bind:disabled="doc.answered || doc.rejected" onchange="validateAssignment(this)" class="col-xs-12">
                <option value="">--(unassign)--</option>
                <option v-for="(user, i) in userlist" :value="i">{{ user }}</option>
                <option value="OTHER">Other</option>
              </select>
                            <input v-model="doc.otherowner" type="text" class="form-control" id="otherOwner" placeholder="Enter name" v-show="doc.owner == 'OTHER'" onkeyup="validateAssignment(null,this)">
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <button v-if="!doc.answered && !doc.rejected" class="btn btn-default" v-on:click="assign(doc._id)" id="assignUserBtn" disabled>Assign</button>
                        </div>
                        <div class="col-md-2 col-md-offset-4 col-xs-12 taggedusers" v-bind:class="[taggedusers && taggedusers.length > 0 ? 'dropdown' : '']">
                            <a v-if="taggedusers && taggedusers.length > 0" data-toggle="dropdown" tabindex="0">Users with matching tag</a>
                            <span v-if="!taggedusers || taggedusers.length == 0">No users with matching tags</span>
                            <ul class="dropdown-menu">
                                <li v-for="user in taggedusers">{{ user.user_name }}</li>
                            </ul>
                        </div>
                    </div>
                    <div v-if="doc.rejected || !doc.answered">
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-12">
                                <h4>Rejected</h4>
                            </div>
                            <div class="col-md-8 form-group">
                                <!--<label for="rejection_reason">Reason</label>-->
                                <input v-model="doc.rejection_reason" type="string" class="form-control" id="rejection_reason" placeholder="Why was this question rejected?" v-bind:disabled="doc.answered || doc.rejected">
                            </div>
                            <div class="col-md-2">
                                <button v-if="!doc.answered && !doc.rejected" class="btn btn-danger" v-on:click="reject(doc._id)">Reject</button>
                            </div>
                        </div>
                    </div>
                    <!--end reject-->
                    <div v-if="doc.answered || !doc.rejected">
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-12">
                                <h4>Answered</h4>
                            </div>
                            <div class="col-md-8 form-group">
                                <!--<label for="time_to_fix">Time to Fix</label>-->
                                <input v-model="doc.time_to_fix" type="number" class="form-control" id="time_to_fix" placeholder="time (in minutes) it took to fix" v-bind:disabled="doc.answered || doc.rejected">
                            </div>
                            <div class="col-md-2">
                                <button v-if="!doc.answered && !doc.rejected" class="btn btn-success" v-on:click="answered(doc._id)">Answer</button>
                            </div>
                        </div>
                    </div>
                    <!--end answer-->
                </div>
            </div>
            <!--end change status panel-->

            <div class="panel panel-default">
                <div class="panel-heading">Notes</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed">
                                <tr v-if="doc.notes">
                                    <th colspan="6">what</th>
                                    <th>who</th>
                                    <th>when</th>
                                </tr>
                                <tr v-for="note in doc.notes">
                                    <td colspan="6">{{ note.note }}</td>
                                    <td>{{ note.who }}</td>
                                    <td>{{ new Date(note.time).toLocaleString(undefined, dateDisplayOpts) }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h4>New Note</h4>
                        </div>
                        <form v-on:submit.prevent="addNote">
                            <div class="col-md-8 form-group">
                                <!--<label for="note"><h4>New Note</h4></label>-->
                                <input v-model="notetxt" type="text" class="form-control" id="note" placeholder="note text">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end notes panel-->

        </div>
        <!-- end single document edit -->

        <!-- profile editor -->
        <div v-if="mode==='profile'" class="container">
            <div class="alert alert-info form-horizontal">
                <h2>Profile</h2>
                <div class="form-group">
                    <label for="soid" class="col-sm-3 control-label">Stack Overflow</label>
                    <div class="col-sm-9">
                        <input v-model="profile.so_id" type="string" class="form-control" id="soid">
                    </div>
                    <p class="help-block col-sm-9 col-sm-offset-3">We need to 
            your Stack Overflow identity. Navigate to the Activity Tab in your Stack Overflow profile and enter that URL here so we can tell whether you have answered a question.
                    </p>
                    <label for="soid" class="col-sm-3 control-label">Slack Organization</label>
                <div class="col-sm-9">
                    <input v-model="profile.so_id" type="string" class="form-control" id="soid">
                </div>
                <p class="help-block col-sm-9 col-sm-offset-3">Let us know which Slack organization you belong to. For example: "ibm-cloudplatform"
                    </p>
                </div>
                <div class="form-group">
                    <label for="usertags" class="col-sm-3 control-label">Tags</label>
                    <div class="col-sm-9">
                        <ul class="custom-tags">
                            <li v-for="ctag in profile.custom_tags">
                                <span>{{ ctag }}</span>
                                <span class="glyphicon glyphicon-remove" aria-role="button" v-on:click="removecustomtag(profile._id, ctag)" v-on:keyup.enter="removecustomtag(profile._id, ctag)" tabindex="0" title="Remove tag"></span>
                            </li>
                            <li>
                                <tags-typeahead v-bind:refid="profile._id" v-bind:reftags="alltags"></tags-typeahead>
                            </li>
                        </ul>
                    </div>
                    <p class="help-block col-sm-9 col-sm-offset-3">Enter tags to question in which you would like to be a candidate to answer. Tags may be related to your expertise or areas of interest to help you improve your skills.
                    </p>
                </div>
                <button v-on:click="saveProfile" class="btn btn-default">Submit</button>
            </div>
            <!-- alert -->

            <hr />

            <div class="alert alert-danger">
                <h2>Logout</h2>
                <p><strong>Warning!</strong> This will destroy your local copy of the Stack Overflow tickets and you will have to log in again via Slack.
                </p>
                <p><button v-on:click="logout" class="btn btn-danger">Logout</button></p>
            </div>
            <!-- alert -->
        </div>
        <!-- container -->

    </div>
    <!-- app -->

    <script type="text/x-template" id="tags-typeahead">
        <div>
            <div class="input-group customtags-group">
                <input v-model="customtags" type="text" class="form-control" :id="inputid" placeholder="Add a custom tag" v-on:keyup.enter="addcustomtags(refid)" v-on:keyup.down="handleKeyNav('next')" v-on:focus="customtagsfocus = true" v-on:blur="customtagsfocus = false">
                <span class="input-group-btn">
          <button class="btn btn-primary" type="button" v-on:click="addcustomtags(refid)"
            v-on:focus="customtagsfocus = true" v-on:blur="customtagsfocus = false">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                </span>
            </div>
            <div class="suggestedtags" v-show="customtagsfocus && suggestedtags.length > 0" v-cloak>
                <div class="suggestedtag" v-for="tag in suggestedtags" tabindex="0" v-on:click="selectcustomtag(tag)" v-on:keyup.enter="selectcustomtag(tag)" v-on:keyup.down="handleKeyNav('next')" v-on:keyup.up="handleKeyNav('prev')" v-on:mousedown.prevent="customtagsfocus = true"
                    v-on:focus="customtagsfocus = true" v-on:blur="customtagsfocus = false">{{ tag }}</div>
            </div>
        </div>
    </script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- PouchDB -->
    <script src="https://cdn.jsdelivr.net/pouchdb/6.1.2/pouchdb.min.js"></script>

    <!-- PouchDB quick search plugin -->
    <script src="/js/pouchdb.quick-search.min.js"></script>

    <!-- Bootstrap notify plugin -->
    <script src="/js/bootstrap-notify.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@2.2.6"></script>

    <!-- Our JS -->
    <script src="js/sodashboard.js"></script>

</body>

</html>
